<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.lkl.hole.service.dao.ImageDao">

    <insert id="insertBatch">
        INSERT INTO hole_image
        (bid, url, gmt_create, gmt_modified)
        VALUES
        <foreach collection ="list" item="image" separator =",">
            (#{image.bid}, #{image.url}, NOW(), NOW())
        </foreach >

    </insert>

</mapper>
