<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.lkl.hole.service.dao.NotificationDao">

    <resultMap id="notificationResultMap" type="com.lkl.hole.facade.model.Notification">
        <id column="id" property="nid"/>
        <result column="cid" property="cid"/>
        <result column="bid" property="bid"/>
        <result column="from" property="from"/>
        <result column="to" property="to"/>
        <result column="content" property="content"/>
    </resultMap>

    <select id="selectCount" resultType="java.lang.Integer">
      SELECT COUNT(*) FROM  hole_notification n where n.is_unread = 1 AND n.to = #{openId}
    </select>

    <select id="selectByPage" resultMap="notificationResultMap">
        SELECT id,
               cid,
               bid,
               `from`,
               `to`
               content,
               is_unread,
               gmt_create
        FROM hole_notification n
        WHERE n.is_unread = 1 AND n.to = #{openId} ORDER BY gmt_create DESC
    </select>

    <insert id="insert" parameterType="com.lkl.hole.facade.model.Notification">
        INSERT INTO hole_notification(cid, bid, `from`, `to`, content, gmt_create, gmt_modified)
        VALUES (#{cid}, #{bid}, #{from}, #{to,jdbcType=VARCHAR}, #{content}, NOW(), NOW())
    </insert>

    <update id="markRead" parameterType="java.lang.Long">
        UPDATE hole_notification SET is_unread = 0 WHERE id = #{id} AND is_unread = 1
    </update>
</mapper>
