<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="hole-servcie-provider"/>

    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <dubbo:protocol name="dubbo" port="20880"/>

    <bean id="wxService" class="com.lkl.hole.service.impl.WxServiceImpl"/>
    <bean id="userService" class="com.lkl.hole.service.impl.UserServiceImpl"/>
    <bean id="redisTokenService" class="com.lkl.hole.service.impl.RedisTokenServiceImpl"/>
    <bean id="blogService" class="com.lkl.hole.service.impl.BlogServiceImpl"/>
    <bean id="commentService" class="com.lkl.hole.service.impl.CommentServiceImpl"/>
    <bean id="notificationService" class="com.lkl.hole.service.impl.NotificationServiceImpl"/>

    <dubbo:service interface="com.lkl.hole.facade.service.WxService" ref="wxService"/>
    <dubbo:service interface="com.lkl.hole.facade.service.UserService" ref="userService"/>
    <dubbo:service interface="com.lkl.hole.facade.service.RedisTokenService" ref="redisTokenService"/>
    <dubbo:service interface="com.lkl.hole.facade.service.BlogService" ref="blogService"/>
    <dubbo:service interface="com.lkl.hole.facade.service.CommentService" ref="commentService"/>
    <dubbo:service interface="com.lkl.hole.facade.service.NotificationService" ref="notificationService"/>
</beans>